/* --- GLOBAL HEADER LAYOUT --- */
header {
  grid-template-columns: 32px 1.5rem auto 44px; 
  display: grid;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white; 
}

header img {
  width: 32px;
  height: 32px;
  filter: invert(100%);
}

header span {
  font-size: 1.2rem;
  white-space: nowrap;
  grid-column: 3;
}

/* --- HAMBURGER BUTTON STYLES --- */
.hamburger {
  justify-self: end;
  width: 44px;
  height: 44px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  color: white; 
  grid-column: 4;
}

.hamburger::before {
  content: "\2630";
}

.hamburger.show::before {
  content: "\00D7";
}

/* --- SITE NAVIGATION (MOBILE) --- */
.navigation {
  display: none; 
  background-color: #444; 
}

.navigation.show {
  display: block; 
}

/* Wayfinding and link styles (Mobile) */
.navigation ul {
  list-style: none;
  padding: 0; 
  margin: 0;
}

.navigation a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  text-align: center; 
}

.navigation li.current {
  background-color: #666; 
}

/* --- FOOTER STYLES --- */
footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

/* Social Media Container */
.social-links {
    display: flex; 
    justify-content: center; 
    column-gap: 8px; 
    margin: 10px 0;
}

.social-links a {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 38px; /* Tamaño del círculo ajustado */
    height: 38px; /* Tamaño del círculo ajustado */
    border: #ccc solid 1px; 
    border-radius: 50%; 
    transition: background-color 0.3s, border-color 0.3s; 
}

.social-links a:hover {
    background-color: #ddd; 
    border-color: #ddd; 
}

.social-links img {
    width: 24px; /* Tamaño del ícono ajustado */
    height: 24px; /* Tamaño del ícono ajustado */
    filter: invert(100%); 
    transition: filter 0.3s; 
}

.social-links a:hover img {
    filter: invert(0%); /* Ícono NEGRO al hacer hover */
}

/* --- LARGE SCREEN STYLES (Min-width: 768px) --- */
@media screen and (min-width: 768px) {

  .navigation {
    display: block; 
    background-color: #555;
  }

  .hamburger {
    display: none; 
  }

  .navigation ul {
    display: flex; 
  }

  .navigation li {
    flex: 1 1 100%; 
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }

  .navigation li:last-child {
    border-right: none;
  }

  .navigation a {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 15px 0; 
    text-align: initial; 
  }

  .navigation li.current {
    background-color: #4A4A4A; 
    border-bottom: none;
  }
}