/* --- large (desktop) styles --- */
@media screen and (min-width: 960px) {

    /* --- main layout styles --- */
    main {
        padding: 1.5rem 0;
        max-width: 90%;
    }

    header img {
        margin-left: 5rem;
    }

    /* --- navigation styles --- */
    .navigation ul {
        width: 100%;
        margin: 0;
        justify-content: space-between;
    }
    .navigation a { padding: 1rem 1.5rem; }

    /* --- grid view styles --- */
    #member-cards.grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 0;
    }

    /* --- list view styles --- */
    #member-cards.list section {
        grid-template-columns: 2fr 4fr 1.5fr 1fr;
        border-bottom: 1px solid var(--secondary-color);
        padding: 0.8rem 1rem;
        background: white;
        align-items: center;
        text-align: left;
        display: grid;
    }
    #member-cards.list section:hover { background: var(--hover-subtle); }
    #member-cards.list section img { display: none; }
    
    /* list item placement */
    #member-cards.list section h3 { grid-column: 1; margin: 0; }
    #member-cards.list section p:nth-of-type(1) { grid-column: 2; margin: 0; }
    #member-cards.list section p:nth-of-type(2) { grid-column: 3; margin: 0; }
    #member-cards.list section a { grid-column: 4; color: var(--secondary-color); margin: 0; }
}